@media screen and (min-width: 767px) {
    .setting-button{
        display:none;
    }
}
@media screen and (max-width: 767px){
    body{
        width: 100%;
    }
    .hide-760{
        display: none !important;
    }
    .hide{
        display: none !important;
    }
    .team-item,.benefit-item,.project{
        width:95% !important;
    }
    .container{
        padding: 0;
        padding-left:auto 15px;
        width: fit-content;
    }
    .header-container{
        width: 100%;
        justify-content: space-between !important;
        padding: 16px 15px;
    }
    .container ul{
        margin-right: -30px;
        width: min-content;
    }
    .projects{
        margin-right: 0 !important;
    }
    .section{
        padding: 60px 0;
    }
    .companies__item{
        width: 210px !important;
    }
    .footer__container{
        flex-direction: column;
        align-items: center;
    }

    .footer-form{
        flex-wrap: wrap;
    }
    
    
    .filters{
        justify-content: start ;
        padding: 0 15px 0 30px;
    }
    
    
    .footer{
        .footer-div{
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
        }
        .footer-div *{
            text-align: center;
            justify-content: center;
        }
        .footer-contacts:first-child{
            width: max-content;
        }
        .footer-form__index{
            margin-right: 0;
            input{
                width: 92%;
            }
        }
        .footer-form__index{
            width: 100%;
        }
        ul{
            margin-right: 0px;
        }
    }
}
