body {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.list, .nav .nav-list, .footer-contacts {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link, .nav .nav-list__item {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.link:hover, .nav .nav-list__item:hover {
  color: #2196F3;
}

.link--current {
  color: #2196F3 !important;
  position: relative;
}
.link--current::after {
  position: absolute;
  content: "";
  height: 4px;
  width: auto;
  border-radius: 4px;
  bottom: -32px;
  left: 0;
  right: 0;
  background: #2196F3;
}

#logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #2196F3;
  text-decoration: none;
  cursor: pointer;
}

.section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1230px;
  margin: 0 auto;
  text-align: center;
  padding: 0 15px;
}

.container ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer-contacts {
  list-style-type: none;
  display: block;
  align-items: start;
}
.footer-contacts__item .link-footer {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__item .link-footer:hover {
  color: white;
}

.footer-form {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer-form__index {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-right: 12px;
}
.footer-form__index h3 {
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-form__index input {
  width: 360px;
  height: 50px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #757575;
  border-radius: 4px;
  padding: 16px;
  color: white;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__index input:hover, .footer-form__index input:focus {
  border: 1px solid white;
}
.footer-form__button {
  width: 200px;
  margin-top: 37px;
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 43px;
  cursor: pointer;
  /*   font   */
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__button:hover {
  background-color: #188CE8;
}
.footer-form__button svg {
  fill: currentColor;
  margin-left: 10px;
}

.footer-social-title {
  margin-bottom: 20px;
  color: white;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social {
  display: flex;
  justify-content: center;
  height: 44;
}
.footer-social__item:not(:last-child) {
  margin-right: 10px;
}
.footer-social__item a {
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  cursor: pointer;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__item a svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__item a:hover, .footer-social__item a:focus {
  background-color: #2196F3;
  color: white;
}

.footer {
  background: #2F303A;
  padding: 60px 0px;
  line-height: 1.8rem;
  display: flex;
  justify-content: center;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 15px;
}
.footer__container .footer-div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer div {
  text-align: start !important;
}

.contacts {
  align-items: center;
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.contacts li:not(:last-child) {
  margin-right: 30px;
}
.contacts__item {
  padding: 32px 0 31px 0;
  color: #757575;
}
.contacts__item__link {
  color: #757575;
  font-weight: 500;
  display: flex;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__item__link .header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav .nav-list {
  display: flex;
  margin-left: 93px !important;
  justify-content: space-around;
  width: 290px;
}
.nav .nav-list__item {
  display: block;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: black;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header {
  border-bottom: 1px solid #E8E6E6;
}
header .header-container {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main .container ul {
  width: 100% !important;
}

.section-no-padding-top {
  padding-top: 0 !important;
}

.section-gray {
  background-color: #F5F4FA;
}

.section {
  padding: 94px 0;
}
.section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.setting-button {
  cursor: pointer;
  width: 24px;
  height: 2.67px;
  background-color: #2196F3;
  position: relative;
  top: 15px;
}
.setting-button::before {
  width: auto;
  content: "";
  height: 2.67px;
  background-color: #2196F3;
  bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
}
.setting-button::after {
  width: auto;
  content: "";
  height: 2.67px;
  background-color: #2196F3;
  bottom: -5px;
  left: 0;
  right: 0;
  position: absolute;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: visible;
  opacity: 1;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.modal {
  width: 528px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
}
.modal .exit-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal .exit-button svg {
  fill: currentColor;
}
.modal .exit-button svg:hover {
  color: #2196F3;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
  margin-bottom: 30px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__form__label {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: black;
  fill: black;
  width: 100%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
}
.modal__form__label:hover, .modal__form__label:focus {
  fill: #2196F3;
}
.modal__form__label:hover input, .modal__form__label:focus input {
  border: solid 1px #2196F3;
}
.modal__form__label span {
  position: absolute;
  top: -18px;
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.modal__form__label svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
.modal__form__label input {
  outline: none;
  border: none;
  outline: none;
  border: solid 1px rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  height: 40px;
  width: 100%;
  color: black;
  font-size: 14px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form .textarea {
  margin-bottom: 20px;
}
.modal__form .textarea:hover textarea, .modal__form .textarea:focus textarea {
  border: solid 1px #2196F3;
}
.modal__form .textarea textarea {
  outline: none;
  width: 100%;
  color: black;
  padding: 10px;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
  border: 1px solid rgba(117, 117, 117, 0.5019607843);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form .checkbox-label {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  margin-bottom: 10px;
}
.modal__form .checkbox-label input:checked + .checkbox-button {
  background-color: #2196F3;
  color: white;
  border-color: #2196F3;
}
.modal__form .checkbox-label input {
  visibility: hidden;
}
.modal__form .checkbox-label .checkbox-button {
  width: 16px;
  height: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  color: white;
  margin-right: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
}
.modal__form .checkbox-label .checkbox-button svg {
  fill: currentColor;
}
.modal__form .checkbox-label p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__form .submit-button {
  background-color: #2196F3;
  color: white;
  padding: 10px 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  line-height: 30px;
  font-family: "Roboto";
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form .submit-button:hover {
  background-color: #188CE8;
}

.benefits {
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.benefits .benefit-item {
  margin-bottom: 30px;
  width: 270px;
}
.benefits .benefit-item__img {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 27px 0;
}
.benefits .benefit-item__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits .benefit-item__description {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.companies__item {
  width: 170px;
  margin-bottom: 30px;
}
.companies__item .company-link {
  width: 100%;
  height: 92px;
  border: 1px solid #AFB1B8;
  padding: 23.5px 32px;
  border-radius: 4px;
  display: flex;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: #AFB1B8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.companies__item .company-link svg {
  fill: currentColor;
}
.companies__item .company-link:hover, .companies__item .company-link:focus {
  border: 1px solid #2196F3;
  color: #2196F3;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px !important;
  flex-wrap: wrap;
  margin-bottom: -15px;
}
.filters .filter .active {
  background-color: #2196F3;
  color: white;
}
.filters .filter:not(:last-child) {
  margin-right: 8px;
}
.filters .filter__button {
  margin-bottom: 15px;
  border: none;
  background-color: #F5F4FA;
  padding: 6px 28px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters .filter__button:hover {
  background-color: #2196F3;
  color: white;
}

.hero {
  background-image: url("../image/page1/backImage.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 200px 0;
  background-position: 50% 50%;
  background-color: #2F303A;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 30px;
}

.hero-button {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-family: "Roboto";
  font-style: normal;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background-color: #188CE8;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.projects .project {
  margin-top: 30px;
  margin-left: 30px;
  width: 370px;
}
.projects .project__link {
  line-height: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects .project__link:hover, .projects .project__link:focus, .projects .project__link:hover .project__link__box__overlay, .projects .project__link:focus .project__link__box__overlay {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
  top: 0;
}
.projects .project__link__box {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.projects .project__link__box img {
  width: 100% !important;
}
.projects .project__link__box__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 0.1);
  padding: 63px 24px;
  text-align: start;
}
.projects .project__link__box__overlay .type {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: white;
}
.projects .project__link__box__overlay .title {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  color: white;
}
.projects .project__link__wrapper {
  padding: 20px;
  display: block;
  border: 1px solid #ECECEC;
  border-top: none;
  text-align: start;
}
.projects .project__link__wrapper h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  color: black;
}
.projects .project__link__wrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.team-list .team-item {
  width: 270px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list .team-item__img {
  margin-bottom: 30px;
  width: 100%;
}
.team-list .team-item__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-list .team-item__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.team-list .team-item .social {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  height: 44;
  margin-bottom: 30px;
}
.team-list .team-item .social__item:not(:last-child) {
  margin-right: 10px;
}
.team-list .team-item .social__item a {
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  cursor: pointer;
  color: #AFB1B8;
  background-color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list .team-item .social__item a svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list .team-item .social__item a:hover, .team-list .team-item .social__item a:focus {
  background-color: #2196F3;
  color: white;
}

.what-we-do {
  display: flex;
}
.what-we-do__item {
  position: relative;
}
.what-we-do__item:not(:last-child) {
  margin-right: 30px;
}
.what-we-do__item .do-paragraph {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  width: 100%;
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.mobile {
  position: fixed;
  padding: 10% 7%;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.mobile__exit {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  align-items: center;
  color: #000;
  cursor: pointer;
  background-color: white;
  border: none;
}
.mobile__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}
.mobile__header .mobile-nav a {
  font-weight: 500;
  font-size: 40px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.02em;
}
.mobile__header .mobile-nav .link--current::after {
  display: none;
}
.mobile__header .mobile-contacts {
  margin-bottom: 30px;
}
.mobile__header .mobile-contacts .contacts__item {
  padding: 0;
  margin-bottom: 32px;
}
.mobile__header .mobile-contacts a {
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.02em;
}
.mobile .mobile-social {
  color: #757575;
  display: flex;
  flex-wrap: wrap;
}
.mobile .mobile-social a {
  color: #2196F3;
  margin: 0 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    width: 100% !important;
  }
  .hide-760 {
    display: none !important;
  }
  .contacts {
    flex-wrap: wrap;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .container ul {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .team-item, .benefit-item, .project {
    width: 354px !important;
  }
  .companies__item {
    width: 226px !important;
  }
  .contacts {
    padding: 15px 0;
    padding: 5px 0;
  }
  .contacts__item {
    padding: 9px 0;
  }
  .container {
    padding: 0;
    padding-left: auto 15px;
    width: 100%;
  }
  .section {
    padding: 60px 0;
  }
  .footer__container {
    justify-content: space-evenly;
  }
  .footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 50px;
    margin-right: 70px;
  }
  .footer-div * {
    text-align: center;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-form__index input {
    width: 450px;
  }
}
@media screen and (min-width: 767px) {
  .setting-button {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  body {
    width: 100%;
  }
  .hide-760 {
    display: none !important;
  }
  .hide {
    display: none !important;
  }
  .team-item, .benefit-item, .project {
    width: 95% !important;
  }
  .container {
    padding: 0;
    padding-left: auto 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .container ul {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .section {
    padding: 60px 0;
  }
  .companies__item {
    width: 210px !important;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
  .footer-form {
    flex-wrap: wrap;
  }
  .footer-div {
    margin-right: 0 !important;
    width: 100%;
  }
  .footer-div * {
    text-align: center;
    justify-content: center;
  }
  .header-container {
    justify-content: space-between !important;
    width: 90%;
    padding: 16px 15px;
  }
  .filters {
    justify-content: start;
    padding: 0 15px 0 30px;
  }
  .footer-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
  }
  .footer-contacts:first-child {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .footer-form__index {
    margin-right: 0;
  }
  .footer-form__index input {
    width: 80%;
  }
  .footer-form__index {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */