@media screen and (min-width: 481px) {
    .setting-button{
        display:none;
    }
}
@media screen and (max-width: 480px) {
    .hide-760{
        display: none !important;
    }
    .hide{
        display: none !important;
    }
    .team-item,.benefit-item,.project{
        width:450px !important;
    }
    .container{
        padding: 0;
        padding-left:auto 15px;
        width: fit-content;
    }
    .container ul{
        width: min-content;
    }
    .section{
        padding: 60px 0;
    }
    .companies__item{
        width: 210px !important;
    }
    .footer__container{
        flex-direction: column;
        align-items: center;
    }

    .footer-form{
        flex-wrap: wrap;
    }
    .footer-div{
        margin-right: 0 !important;
    }
    .footer-div *{
        text-align: center;
        justify-content: center;
        
    }
    .header-container{
        justify-content: space-between !important;
        width: 90%;
        padding: 16px 15px;
    }
    .filters{
        justify-content: start ;
        padding: 0 15px 0 30px;
    }
    .footer-div{
        display: flex;
        flex-direction: column;
    }
    .footer-contacts:first-child{
        width: max-content;
    }
}
