@media screen and (min-width: 768px) and (max-width: 1200px)  {
    
    body{
        width: 100% !important;
    }
    .hide-760{
        display: none !important;
    }
    .container{
        padding: 0;
        padding-left:auto 15px;
        width: 100%;
    }
    .header-container {
        justify-content: space-between !important;
        padding:0 15px;
        width: 100%;
    }
    .contacts{
        width: fit-content !important;
    }
    
    .contacts{
        flex-wrap: wrap;
        width: min-content;
    }

    .container ul{
        justify-content:center ;
        margin-right: -30px;    
    }
    .team-item,.benefit-item,.project{
        width: 354px !important;
    }
    .companies__item{
        width: 226px !important;
    }
    .contacts{
        padding: 15px 0;
        padding:5px 0;
    }
    .contacts__item{
        padding:9px 0 ;
    }
    
    .section{
        padding: 60px 0;
    }
    
    
    .footer-form{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .footer-form__index input{
        width: 450px;
    }
    .footer__container{
        width: 100%;
        padding: 0 15px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        div,label{
            display: flex;
            width: fit-content;
            flex-direction: column;    
        }
        .footer-div{
            align-items: center;
            margin-bottom: 50px;
            width: max-content;
        }
        label{
            align-items: center;
        }
       
        .footer-contacts{
            text-align: center;
        }
        ul{margin-right: 0;width:max-content;}
    }

}