@media screen and (max-height:500px) {
    .mobile{padding-top:4% 7%;}
    .mobile__header {
        .mobile-nav{
            flex-direction: row;
        }
    }
}
@media screen and (min-height:575px) {
    .backdrop{
        position: fixed;
        .modal{
            height: fit-content;
            position: absolute;
            top: auto;
        }
    }
}

@media screen and (max-height:430px) {
    .mobile__header {
        .mobile-contacts {
            flex-direction: row;
        }
    }
}