
h1,h2,h3,h4,h5,h6,p { margin: 0;}
html { box-sizing: border-box;}
*,*::after,*::before { box-sizing: inherit;}
img { display: block; max-width: 100%; height: auto;object-fit: cover;}
address { font-style: normal;}
.link { text-decoration: none; color: inherit; cursor: pointer;height: fit-content;}
.list { list-style: none; padding: 0; margin: 0;} 
a{ text-decoration: none;}


/* ###############variable#################### */
:root {
    --main-blue-color:#2196F3;
    --links-color:#757575;
    --button-hover:#188CE8;
    --icon-footer-background-color:rgba(255, 255, 255, 0.1);
    --icon-social-media-color: #AFB1B8;
}

/*        ##########icons#######           */
.icon-social-media{
    width: 20px;
    height: 20px;
    fill: currentColor;
   
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link{
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--icon-social-media-color);
}

.social-media-link:hover .icon-social-media,.social-media-link:focus .icon-social-media{ color: white;}
.social-media-link:hover,.social-media-link:focus{background-color: #2196F3;}

/* ###################   body     #################### */

body{

    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
}

.container{
    width:1200px;
    padding: 0px 15px;
    margin: 0 auto; 
    text-align: center;
}

img{display: block; max-width:100%; height: auto;}

.section{
    padding: 94px 0;
}

.section-no-padding-top{
    padding-top:0 ;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--main-blue-color);
    text-decoration: none;
    cursor: pointer;
}

/*  ###############    header  ####################   */

header{
    border-bottom: solid 1px rgb(230, 230, 232);
    header:0 200px 0 200px
}


.header-container{
    display:flex;
    justify-content: space-between;
}


nav{
    display: flex;
    align-items: center;
}

.nav-main{
    display: flex;
    margin-left: 93px;
}

.nav-main li:not(:last-child){
    margin-right: 60px;
}

header  ul{
    list-style-type: none;
    display: flex;
}


.link:hover{
    color: var(--main-blue-color);
}


.nav-menu-item{
    display: block;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: black;
}

.header-contacts{
    align-items: center;
    display: flex;
}

.header-contacts-item{
    padding:32px 0 31px 0;
    color: var(--links-color);
}

.header-contacts-item:not(:last-child){
    margin-right: 30px;
}


.header-contacts-link{
    color:var(--links-color);
    font-weight: 500;
    display: flex;
    text-align: center;    
}

.header-icon{
    margin-right: 10px;
    fill: currentColor;
}








/*  ################### footer #####################  */

.footer{
    background: #2F303A;
    padding: 60px 0px;
    line-height: 1.8rem;

}
.footer-container{
    display: flex;
    text-align: start;
}
.footer-div:not(:last-child){
    margin-right: 70px;
}
.footer-div:last-child{
    margin-left: 30px;
}

.footer-list{
    list-style-type: none;
    display: block;
    align-items: start;
}
.link-footer{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color:  var(--links-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover{
    color:white;
    
}

.footer-social-media-title{
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-social-media-list{
    display: flex;
}

.footer-social-media-item .icon{
    color: white;
}

.footer-social-media-item{
    width: fit-content;
   
}

.footer-social-media-link{
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 11px;
    display: flex;
    background-color:var(--icon-footer-background-color);
    cursor: pointer;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-item:not(:last-child){
    margin-right: 10px;
}


.footer-social-media-link:hover .icon-social-media,.footer-social-media-link:focus .icon-social-media{color: white;}
.footer-social-media-link:hover,.footer-social-media-link:focus{ background-color: var(--main-blue-color);}


.subs-div{
    display: flex;
}

.footer .subs-title{
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer .subs-email{
    width: 360px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: var(--links-color) solid 1px;
    border-radius: 4px;
    margin-right: 12px;
    padding: 16px;
    color: white;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .subs-button{
    background-color: var(--main-blue-color);
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 200px;
    color: white;
    padding: 10px 43px;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.footer .subs-button svg{
    fill: currentColor;
}

.subs-email:hover,.subs-email:active{
    border-color: var(--button-hover);
}




/* which page */

.link-current{
    color: var(--main-blue-color);
    position: relative; 

}

.link-current::after{
    position: absolute;
        content: '';
        height: 4px;
        width: auto;
        border-radius: 4px;
        bottom: -32px; 
		left: 0;
        right: 0;
        background: var(--main-blue-color);
}

