
h1,h2,h3,h4,h5,h6,p { margin: 0;}
html { box-sizing: border-box;}
*,*::after,*::before { box-sizing: inherit;}
img { display: block; max-width: 100%; height: auto;}
address { font-style: normal;}
.link { text-decoration: none; color: inherit;}
.list { list-style: none; padding: 0; margin: 0;} 
/* ###############variable#################### */
:root {
    --main-blue-color:#2196F3;
    --links-color:#757575;
}



/* ###################   body     #################### */

body{

    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
}

.container{
    width:1520px;
    padding:15px 0px;
}

.link-current:hover{
    color: var(--main-blue-color);
}
.link-current-footer:hover{
    color:white;
}

img{display: block; max-width:100%; height: auto;}

section{
    padding: 94px 200px;
}

/*  ###############    header  ####################   */

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-bottom: solid .5px rgb(230, 230, 232);
}
header div{
    display: flex;
    justify-content: center;
    padding: 0 215px;
}
header nav{
    width: 530px;
    display: grid;
    align-items:center;
    grid-template-columns: 1.8fr 4fr;
    margin-right: 235px;
}


header  ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
header li{
    width: 50%;
    text-align-last: right;
}

header nav li{
    width: 120px;
   
}

.header-contacts{
    width: 325px;
}

.header-contacts a{
    color: var(--links-color);
}




header a{
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: black;
}

#logo{
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    color: var(--main-blue-color);
    text-decoration: none;
}

/*  ################### footer #####################  */

footer{
    width: 100%;
    background: #2F303A;
    height: 260px;
    padding: 60px 215px;
    line-height: 1.8rem;
}
footer a{ 
    text-decoration: none;
    padding: 0;
}

footer ul{
    padding: 0;
    list-style-type: none;
}


footer a{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color:  var(--links-color);
}