@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

h1,h2,h3,h4,h5,h6,p { margin: 0;}
html { box-sizing: border-box;}
*,*::after,*::before { box-sizing: inherit;}
img { display: block; max-width: 100%; height: auto;}
address { font-style: normal;}
.link { text-decoration: none; color: inherit;}
.list { list-style: none; padding: 0; margin: 0;} 

/* ###################   body     #################### */

body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    max-width: 2200px;
    min-width: 1300px;
    /* font-family: 'Yellowtail', cursive; */
}
body *{
    font-family: "Roboto";
}



/*  ###############    header  ####################   */

header div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header >div{
    display: flex;
    justify-content: center;
    height: 80px;
}
header nav{
    width: 80%;
    display: grid;
    align-items:center;
    grid-template-columns: 1fr 4fr 2fr;

}

#logo{
    font-size:2em ;
    font-weight: 700;
    color: #2196F3;
    font-family: math;
    text-decoration: none;
}

header nav ul{
    width:400px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav>ul{
    width: 300px;
}

header nav ul a{
    font-size: 1em;
    text-decoration: none;
    color: black;
}
header nav a:hover{
    color: #2196F3;
}


/*      ############      main        ###########      */
main{
    width: 100%;
    justify-content: center;
    padding: 0%;
    margin: 0px;
}
main *{
    padding: 0%;
    margin: 0%;
}
section{
    margin-top: 50px;
    margin-bottom: 100px;
    padding-top: 60px;
    height: fit-content;
}
section h2{
    font-family: 'system-ui';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
/* ########front######*/
.front{
    background-color:  #2F303A;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.front div{
    text-align: center;
    width: 47%;
    white-space: inherit;
}
.front h1{
    color: white;
    font-family: monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 3.5em;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.front button{
    color: white;
    background-color: #2196F3;
    height:fit-content;
    border:none;
    padding: 8px;;
    margin-top: 4%;
    font-size: 1.2em;
    border-radius: 2%;
    width: 200px;
    height: 50px;
}


/* ########activity######*/
.activity{padding-top: 0;}

.activity div {
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: center;
}
.activity ul{
    align-items: center;
    width: 72%;
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none; 
    align-items:flex-start ;
    white-space: normal;
}

.activity li{
    width: 24%;
    padding: 10px;
    display: block;
}

.activity h4{
    font-family: 'Roboto', sans-serif;
    float: top;
    inset-inline-start: 10px;
    word-spacing: .1em;
    margin-bottom: 8px;
    line-height: 1.7em;
}

.activity p{
    float:right;
    color: #8e8b8b;
    word-spacing: .02em;
    line-height: 1.7em;
}

/* ########What we Do######*/
.do{
    padding-top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.do>div{
    display: block;
    text-align: center; 
}

.do ul{
    margin-top:70px;
    list-style-type: none; 
    align-items: center;
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}
.do li{
    width: fit-content;
}
.do li img{
    width: 480px;
}


/* ########Our Team######*/
.team{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:  #F5F4FA;;
    padding-bottom: 100px;
    margin-bottom: 0;
}

.team >div{
    display: block;
    width: fit-content;
    text-align: center;
    width: fit-content;
}
.team ul{
    margin-top:70px;
    display: flex;
    list-style-type: none; 
    align-items: center;
    justify-content: space-around;
    column-gap: 35px;
}
.team li{
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    padding-bottom: 50px ;
    box-shadow: 1px 1px 2px 2px rgba(210, 210, 210, 0.955);
    border-radius: 5px;
}

.team li img{
    width: 100%;
    margin-bottom:40px ;
}
.team .name{
    font-size: 1.9em;
    font-weight: 800;
    white-space: 20px;
}

.team p{
    font-size: 1.5em;
}



/*  ################### footer #####################  */

footer{
    background: #2F303A;
    height: 260px;
    padding: 50px 0px 0px 200px;
    line-height: 1.8rem;
}
footer a{ 
    text-decoration: none;
    padding: 0;
}

footer ul{
    padding: 0;
    list-style-type: none;
}

footer address a{
    color: rgba(255, 255, 255, 0.878);
}
footer a{
    letter-spacing: 0.03em;
    color:  rgba(255, 255, 255, 0.6);
}
