@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    max-width: 2200px;
    min-width: 1200px;
    /* font-family: 'Yellowtail', cursive; */
}
body *{
    font-family: "Roboto";
}

/*  ###############    header  ####################   */

header nav{
    width: 100%;
    display: flex;
    border-bottom:1px solid #E5E5E5;;
    align-items:center;
    justify-content: space-evenly;
    padding: 0 2% 0 2%;

}
#logo{
    margin-top: 8px;
    font-size:2.8rem ;
    font-weight: 700;
    color: #2196F3;
    font-family: math;
}

header nav div{
    display: inline-flex;
    justify-content: space-around;
    width: 50%;
}
header nav ul{
    align-items: center;
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none;

}
header nav .contact{
    width: 50%;
}
header nav a{
    font-size: 2em;
    text-decoration: none;
    color: black;
}
header nav a:hover{
    color: #2196F3;
}


/*      ############      main        ###########      */
main{
    width: 100%;
    justify-content: center;
    padding: 0%;
    margin: 0px;
}
main *{
    padding: 0%;
    margin: 0%;
}
main section{
    margin-top: 6%;
}
section h1{
    font-size: 3em;
}
/* ########front######*/
.front{
    background-color: #2F303A;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.front div{
    text-align: center;
    width: 60%;
    white-space: inherit;
}
.front h1{
    color: white;
    font-family: monospace;
    font-style: normal;
    font-weight: 900;
    font-size: 5em;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.front button{
    color: white;
    background-color: #2196F3;
    height:fit-content;
    border: #2F303A;
    border-radius: 3px;
    padding: 8px;;
    margin-top: 4%;
    font-size: 2.5em;
    border-radius: 5%;
}


/* ########activity######*/
.activity{
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: center;

}
.activity ul{
    align-items: center;
    width: 86%;
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none; 
    align-items:flex-start ;
}

.activity li{
    width: 25%;
    line-height: 1.7em;
    padding: 10px;
}

.activity h3{
    font-family: 'Roboto', sans-serif;
    float: top;
    font-size: 1.8em;
    font-weight: 600;
    inset-inline-start: 10px;
    word-spacing: .1rem;
}

.activity p{
    color: #8e8b8b;
    font-size: 1.5em;
    word-spacing: .02em;
    font-weight: 600;
    line-height: 2em;
}

/* ########What to Do######*/
.do{
    display: block;
    width: 100%;
}
.do div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4%;
}
.do ul{
    list-style-type: none; 
    align-items: center;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.do li{
    width: 30%;
}
.do li img{
    width: 100%;
}


/* ########Our Team######*/
.team{
    display: block;
    width: 100%;
    background-color: #F5F4FA;
    padding: 1% 0 7% 0;
}
.team div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    
}
.team ul{
    width: 92%;
    display: flex;
    list-style-type: none; 
    align-items: center;
    justify-content: space-around;
}
.team li{
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    padding-bottom: 50px ;
    box-shadow: 1px 1px 2px 2px rgba(210, 210, 210, 0.955);
    
}

.team li img{
    width: 100%;
    margin-bottom:40px ;
}
.team .name{
    font-size: 1.9em;
    font-weight: 800;
    white-space: 20px;
}
.team p{
    font-size: 1.5em;
}



/*  ################### footer #####################  */

footer{
    background: #2F303A;
    height: 15%;
    padding: 5% 5% 5% 10%;
    line-height: 1.5rem;
}
footer *{ text-decoration: none;}

footer address,footer address a{
    color: rgba(255, 255, 255, 0.878);
}
footer a{
    font-size: 2em;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);
}
