/* header nav ul:nth-child(2) li:nth-child(2) a{
    color: #2196F3;
} */
/* ###############variable#################### */

:root {
    --button-background-color:#F5F4FA;
    --category-title:#757575;
  }

/*      ############      main        ###########      */



.category-container{
    display: flex;
    flex-direction: column;
}

.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px !important; 
}

.filter-item:not(:last-child){
    margin-right: 10px;
}

.filter-button{
    border: none;
    background-color: var(--button-background-color);
    padding: 6px 25px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
   
}

.button-hover:hover{
    background-color: var(--main-blue-color);
    color: white;
}

.active{
    background-color: var(--main-blue-color);
    color: white;
}

.projects{
    display:flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.project{
    line-height: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
}


.project-wrapper{
    padding: 20px;
    display: block;
    border: #ECECEC solid 1px;
    border-top: none;
    text-align: start;
}
.project-title{font-size: 18px;font-weight: 700;line-height: 36px;color: #212121;}
.project-type{font-weight: 400;font-size: 16px;line-height: 30px;letter-spacing: 0.03em;color: var(--category-title);}

.empty{
    font-family: cursive;
    justify-content: flex-start ;
    align-items: center;
    display: flex;
    flex-direction: column;
}
