@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    max-width: 2200px;
    min-width: 1300px;
    /* font-family: 'Yellowtail', cursive; */
}
body *{
    font-family: "Roboto";
}

/*  ###############    header  ####################   */

header nav{
    width: 100%;
    display: flex;
    border-bottom:1px solid #E5E5E5;;
    align-items:center;
    padding: 0 2% 0 2%;
    justify-content: center;

}
#logo{
   
    font-size:2em ;
    font-weight: 700;
    color: #2196F3;
    font-family: math;
}


header nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 2fr 3fr 3fr;
    column-gap: 40px;
    padding: 0%;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}
header nav a{
    font-size: 1em;
    text-decoration: none;
    color: black;
}
header nav a:hover{
    color: #2196F3;
}

/*      ############      main        ###########      */
main{
    width: 100%;
    margin: 2% 0 4% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main div{
    justify-content: center;
    display: flex ;
    width: 96%;
    margin-top: 2.6%;
    
}
main nav{
    width: 35%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 30px;
}

main nav button{
    border: none;
    border-radius: 5%;
    text-align: center;
    width: fit-content;
    background-color:rgb(60, 60, 60,10%);
    font-size: 1.4em;
}

.category{
    flex-wrap: wrap;
    height: fit-content;
    min-height: 700px;
}

main figure{
    height: fit-content;
    width:350px;
    border: 2px solid rgb(60, 60, 60,10%);
    margin: 1%;
    }
main img{
    width: 100%;
}
figure figcaption{
    padding: 2% 7% 2% 7%;
}
figure figcaption p:first-child{
    font-size: 1.2em;
    font-weight: 700;

}
figure figcaption p{
    font-size: 1em;
}

.button{
    font-weight: 600;
    font-size: 1.1em;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 7%;
}
.button:focus{
    background-color: #2196F3;
    color: white;
}
.button:hover{
    animation-name: hover;
    animation-duration: 1s;
}



@keyframes hover {
    from {background-color: gainsboro;}
    to {background-color: #2196F3;;}
    from {color: black;}
    to {color: white;}
  }
  
.empty{
    font-family: cursive;
    justify-content: flex-start ;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.blur-up {
    filter: blur(5px);
    transition: filter 400ms;
  }
  
  .blur-up.lazyloaded {
    filter: blur(0);
  }

/*  ################### footer #####################  */

footer{
    background: #2F303A;
    height: 15%;
    padding: 5% 5% 5% 10%;
    line-height: 2rem;
    
}
footer *{ text-decoration: none;}

footer address,footer address a{
    color: rgba(255, 255, 255, 0.878);
}
footer a,address{
    font-size: 22px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);
}
