.setting-button{
    cursor: pointer;
    width: 24px;
    height: 2.67px;
    background-color: #2196F3;
    position: relative;
    top: 15px;
}

.setting-button::before{
    width: auto;
    content:'';
    height: 2.67px;
    background-color: #2196F3;
    bottom: 5px; 
    left: 0;
    right: 0;
    position: absolute;
}

.setting-button::after{
    width: auto;
    content:'';
    height: 2.67px;
    background-color: #2196F3;
    bottom: -5px; 
    left: 0;
    right: 0;
    position: absolute;
}

.setting-bar{
    position:fixed;
    padding:48px 40px;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.mobile-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}
.mobile-nav a{
    font-weight: 500;
    font-size: 40px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.02em;
}

.mobile-nav .link--current::after{
    display: none;
}

.mobile-contacts {
    margin-bottom:30px ;
}

.mobile-contacts .contacts__item{
    padding: 0;
    margin-bottom: 32px;
}

.mobile-contacts a{
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.02em;
}

.mobile-social{color:gray ;}
.mobile-social a{
    color: #2196F3;
    margin: 0 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    letter-spacing: 0.02em;
}

.exit-setting{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    align-items: center;
    color: #000;
    cursor: pointer;
    background-color: white;
    border: none;
}

.setting-link-list{
    display: flex;
}

@media screen and (min-width: 481px) {
    .setting-button{
        display:none;
    }
}
@media screen and (max-width: 480px) {
    .hide-760{
        display: none !important;
    }
    .hide{
        display: none !important;
    }
    .team-item,.benefit-item,.project{
        width:450px !important;
    }
    .container{
        padding: 0;
        padding-left:auto 15px;
        width: fit-content;
    }
    .container ul{
        width: min-content;
    }
    .section{
        padding: 60px 0;
    }
    .companies__item{
        width: 210px !important;
    }
    .footer__container{
        flex-direction: column;
        align-items: center;
    }

    .footer-form{
        flex-wrap: wrap;
    }
    .footer-div{
        margin-right: 0 !important;
    }
    .footer-div *{
        text-align: center;
        justify-content: center;
        
    }
    .header-container{
        justify-content: space-between !important;
        width: 90%;
        padding: 16px 15px;
    }
    .filters{
        justify-content: start ;
        padding: 0 15px 0 30px;
    }
    .footer-div{
        display: flex;
        flex-direction: column;
    }
    .footer-contacts:first-child{
        width: max-content;
    }
}
@media screen and (max-width: 768px) and (min-width: 482px)  {
    
    body{
        width: 768px !important;
    }
    .hide-760{
        display: none !important;
    }
    .contacts{
        flex-wrap: wrap;
        width: min-content;
    }
    .container ul{
        width: min-content;
    }
    .team-item,.benefit-item,.project{
        width: 354px !important;
    }
    .companies__item{
        width: 226px !important;
    }
    .contacts{
        padding: 15px 0;
        padding:5px 0;
    }
    .contacts__item{
        padding:9px 0 ;
    }
    .container{
        padding: 0;
        padding-left:auto 15px;
        width: 100%;
    }
    .section{
        padding: 60px 0;
    }
    .footer-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: max-content;
    }
    .footer-div *{
        text-align: center;
    }
    .footer-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


header,main,footer,section,ul{
    width: 100%;
}



.section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section .container .list{
    width: fit-content;
}

