
@media screen and (min-width: 480px){
    .container{
        padding-left:15px;
        padding-right:15px
    }
}
@media screen and (min-width: 480px){
    .container{
        width:480px
    }
}
@media screen and (min-width: 768px){
    .container{
        width:768px
    }
}
@media screen and (min-width: 1200px){
    .container{
        width:1200px
    }
}

@media screen and (max-width: 767px){
    .header{
        padding-top:16px;
        padding-bottom:16px
    }
}

@media screen and (max-width: 767px){
    .header__section{
        max-width:767px
    }
}
@media screen and (max-width: 767px){
    .nav{
        display:none
    }
}

@media screen and (max-width: 767px){
    .header-contact{
        display:none
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .header-contact{
        flex-direction:column;
        align-content:center
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .header-contact__item+.header-contact__item{
        margin-left:0px
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .header-contact__item{
        margin-left:0px
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .header-contact__link{
        padding:0
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .header-contact__item:not(:last-child){
        margin-bottom:10px
    }
}

@media screen and (min-width: 768px){
    .menu-open{
        display:none
    }
}


@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx){
    .hero{
        background-image:linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url(../images/hero-mobile2x.jpg)
    }
}
@media screen and (min-width: 768px){
    .hero{
        background-image:linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url("../images/hero-tablet.jpg")
    }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx){
    .hero{
        background-image:linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url("../images/hero-tablet2x.jpg")
    }
}
@media screen and (min-width: 1200px){
    .hero{
        background-image:linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url("../images/hero-desctop.jpg")
    }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx){
    .hero{
        background-image:linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url("../images/hero-desctop2x.jpg")
    }
}
@media screen and (min-width: 1200px){
    .hero{
        max-width:1600px;
        height:600px;
        padding-top:200px
    }
}

@media screen and (min-width: 480px){
    .hero__title{
        font-size:26px;
        max-width:360px
    }
}
@media screen and (min-width: 1200px){
    .hero__title{
        font-size:44px;
        max-width:360px;
        line-height:1.36;
        max-width:696px;
        margin-left:auto;
        margin-right:auto
    }
}

@media screen and (min-width: 480px){
    .hero__btn{
        padding:10px 32px;
        font-size:16px;
        min-width:200px
    }
}

@media screen and (min-width: 1200px){
    .features{
        padding-top:94px;
        padding-bottom:94px
    }
}
@media screen and (max-width: 479px){
    .features{
        padding-left:15px;
        padding-right:15px
    }
}

@media screen and (min-width: 480px){
    .features-list__item{
        width:450px
    }
}
@media screen and (min-width: 768px){
    .features-list__item{
        width:354px
    }
}
@media screen and (min-width: 1200px){
    .features-list__item{
        width:270px
    }
}

@media screen and (min-width: 480px){
    .features-list__icon-fon{
        width:450px
    }
}
@media screen and (min-width: 768px){
    .features-list__icon-fon{
        width:354px
    }
}
@media screen and (min-width: 1200px){
    .features-list__icon-fon{
        width:270px
    }
}

@media screen and (min-width: 768px){
    .features-list__title{
        text-align:left
    }
}

@media screen and (min-width: 1200px){
    .work{
        display:block
    }
}
@media screen and (min-width: 1200px){
    .team{
        padding-top:94px;
        padding-bottom:94px
    }
}

@media screen and (min-width: 1200px){
    .team__title{
        margin-bottom:50px;
        font-size:36px
    }
}

@media screen and (max-width: 479px){
    .team-list__item{
        width:270px
    }
}
@media screen and (min-width: 480px){
    .team-list__item{
        width:450px
    }
}
@media screen and (min-width: 768px){
    .team-list__item{
        width:354px
    }
}
@media screen and (min-width: 1200px){
    .team-list__item{
        width:270px
    }
}

@media screen and (min-width: 1200px){
    .client{
        padding-top:94px;
        padding-bottom:94px
    }
}

@media screen and (min-width: 1200px){
    .client__title{
        margin-bottom:50px;
        font-size:36px
    }
}

@media screen and (min-width: 1200px){
    .customers{
        flex-wrap:nowrap
    }
}
@media screen and (max-width: 767px){
    .customers__item{
        width:210px
    }
}
@media screen and (min-width: 768px){
    .customers__item{
        width:226px
    }
}
@media screen and (min-width: 1200px){
    .customers__item{
        width:170px
    }
}
@media screen and (min-width: 1200px){
    .customers__link{
        width:170px
    }
}
@media (min-width: 768px){
    .footer__flex{
        display:flex;
        justify-content:center;
        flex-wrap:wrap;
        gap:30px 165px
    }
}
@media (min-width: 1200px){
    .footer__flex{
        display:flex;
        justify-content:center;
        text-align:left;
        gap:70px
    }
}

@media (min-width: 768px){
    .social-section{
        margin-top:0px
    }
}

@media (min-width: 768px){
    .social-section__text{
        padding-bottom:10px
    }
}
@media (min-width: 1200px){
    .social-section__text{
        text-align:left
    }
}


@media (min-width: 768px){
    .footer-submit{
        margin-top:0px;
        padding:0
    }
}
@media (min-width: 1200px){
    .footer-submit{
        margin-left:23px
    }
}

@media (min-width: 1200px){
    .footer-submit__input{
        width:358px;
        margin-right:12px
    }
}

@media (min-width: 1200px){
    .footer-submit__btn{
        margin-top:0px
    }
}

@media screen and (min-width: 1200px){
    .portfolio-section{
        padding-top:94px;
        padding-bottom:94px
    }
}
@media screen and (max-width: 479px){
    .portfolio-section{
        padding-left:15px;
        padding-right:15px
    }
}

@media (min-width: 768px){
    .portfolio-btn-list{
        justify-content:center;
        margin-bottom:30px
    }
}
@media (min-width: 1200px){
    .portfolio-btn-list{
        margin-bottom:50px
    }
}

@media screen and (min-width: 480px){
    .portfolio-list{
        grid-template-columns:auto
    }
}
@media screen and (min-width: 768px){
    .portfolio-list{
        grid-template-columns:auto auto
    }
}
@media screen and (min-width: 1200px){
    .portfolio-list{
        grid-template-columns:auto auto auto
    }
}

@media screen and (min-width: 480px){
    .modal{
        width:450px;
        min-height:609px
    }
}
@media screen and (min-width: 1200px){
    .modal{
        width:528px;
        min-height:581px
    }
}

@media screen and (min-width: 480px){
    .form{
        width:450px
    }
}
@media screen and (min-width: 1200px){
    .form{
        width:528px
    }
}

@media screen and (min-width: 1200px){
    .form-field-chek{
        padding-left:14px
    }
}

@media screen and (max-width: 479px){
    .policy-label{
        font-size:10px;
        line-height:1.11
    }
}
@media screen and (min-width: 1200px){
    .policy-label{
        font-size:14px;
        line-height:1.71
    }
}

@media screen and (max-width: 479px){
    .policy-link{
        position:absolute;
        top:18px;
        left:21px
    }
}

/*# sourceMappingURL=main.min.css.map */
