@import '../utils/_vars.scss';@import '../utils/_color.scss';
@import '../utils/_mixin';

.container{
    width:1230px;
    margin: 0 auto; 
    text-align: center;
    padding: 0 15px;
}

.container ul{
    width: fit-content;
}