@import '../utils/_vars.scss';@import '../utils/_color.scss';
@import '../utils/_mixin';

.container{
    width:1200px;
    margin: 0 auto; 
    text-align: center;
}

.container ul{
    width: fit-content;
}