@import '../utils/_vars.scss';@import '../utils/_color.scss';
@import '../utils/_mixin';


.footer{
    background: #2F303A;
    padding: 60px 0px;
    line-height: 1.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    #logo{
        margin-bottom: 13px
    }
    
    &__container{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 15px;
        margin-bottom: -50px;
        .footer-div,form{
            display: flex;
            align-items: center;
            width: 100%;
            flex-direction: column;
            margin-bottom: 50px;
        }
        .footer-div{
            margin-right: 50px;
        }
    }
}