@import '../utils/_vars.scss';@import '../utils/_color.scss';
@import '../utils/_mixin';

.contacts{
    align-items: center;
    display: flex;
    & li:not(:last-child){
        margin-right: 30px;
    }
    &__item{
        padding:32px 0 31px 0;
        color: $color-links;
        &__link{
            color: $color-links;
            font-weight: 500;
            display: flex;
            text-align: center;  
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
            .header-icon {
                margin-right: 10px;
                fill: currentColor;
            }
        }
    }
    
}