@import '../utils/_vars.scss';
@import '../utils/color';
@import '../utils/_mixin';

header{
    border-bottom:1px solid $color-header-bottom;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    .header-container{
        display:flex;
        justify-content: space-between;
    }
}