@import '../utils/_vars.scss';
@import '../utils/color';
@import '../utils/_mixin';

header{
    border-bottom:1px solid $color-header-bottom;
    .header-container{
        @extend .container;
        display:flex;
        justify-content: space-between;
        
    }
}