@import "../utils/vars.scss";

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero{
    background-image:url("../../image/page1/backImage.jpg");
    background-repeat:no-repeat;
    background-size:auto;
    padding: 200px 0;
    background-position: 50% 50%;
    background-color: getColor('front');
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;
}

.hero-button{
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: white;
    background-color:getColor('blue-main');;
    border:none;
    border-radius: 4px;
    padding: 10px 20px;
    font-family: 'Roboto';
    font-style: normal;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{
        background-color:getColor('blue-hover');
    }
}

.benefits-list{
    @extend .list;
    text-align: start;
    display: flex;
    & li:not(:last-child){
        margin-right: 30px;
    }    
    .benefit{
        width: 270px;
        &__img{
            height: 120px;
            width: 270px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:getColor('background-team');            
            margin-bottom: 30px;
            border-radius: 4px;
            padding: 27px 0;
        }
        &__title{
            margin-bottom: 10px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
        &__description{
            color:getColor('links');
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.03em;
        }

    }
}
.section-no-padding-top{
    padding-top: 0;

}

.what_we_do_list{
    display: flex;
    .what-we-do-item{
        &:not(:last-child){
            margin-right:30px;
        }
        position: relative;
        .do-paragraph{
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF;
            background: rgba(47, 48, 58, 0.8);
            padding: 27px 0;
            width: 100%;
            position: absolute;   
            z-index: 0;
            bottom: 0;
        }
    }
}

.section-gray{
    @extend .section;
    background-color:getColor('background-team');
}

.team{
    @extend .list;
    display: flex;
    &__member{
        padding-bottom: 30px;
        background-color: white;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        &:not(:last-child){
            margin-right: 30px;
        }
        &__photo{
            margin-bottom: 30px;
        }
        &__name{
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.03em;
            margin-bottom: 10px;
        }
        &__position{
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.03em;
            color: getColor('link');
            margin-bottom: 16px;
        }
    }
}

.companies{
    @extend .list;
    display: flex;
    .company{
        &:not(:last-child){
            margin-right: 30px;
        }
        &__link{
            width: 170px;
            height: 92px;
            border:1px solid getColor('company-border');
            padding: 23.5px 32px;
            border-radius: 4px;
            display: flex;
            text-align: center;
            justify-content: center;
            cursor: pointer;
            color:getColor('company-border'); 
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            svg{
                fill:currentColor;
            }
            &:hover,&:focus{
                border:1px solid getColor('blue-main');
                color:getColor('blue-main');
            }
        }
    }
}

.main-social-media{
    @include social-media(getColor('links'),white) 
}