@import "../utils/vars.scss";

.backdrop{
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: rgba(0, 0, 0,.4);
    visibility: visible;
    opacity: 1;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden{
    visibility: hidden;
    opacity: 0;
}

.modal{
    width: 528px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction:column;
    padding: 40px;
    align-items: center;

    .exit-button{
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        svg{
            fill: currentColor;
            &:hover{
                color:getColor('blue-main');
            }
        }

    };
    &__title{
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        color: black;
        margin-bottom: 30px;
    };
    &__form{
        display: flex;
        flex-direction:column;
        align-items: center;
        &__label{
            position: relative;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 0.01em;
            color: black;
            fill: black;
            width: 100%;
            transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            margin-bottom: 30px;
            &:hover,&:focus{
                fill: getColor('blue-main');
            }
            &:hover input,&:focus input{
                border:solid 1px getColor('blue-main');
            }
            span{
                position: absolute;
                top: -18px;
                color:  #757575;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.01em;
            };
            svg{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 15px;
            };
            input{
                outline: none;
                border: none;
                outline:none;
                border:solid 1px getColor('modal-input-border');
                border-radius: 4px;
                display: flex;
                align-items: center;
                padding-left: 40px;
                height: 40px;
                width: 100%;
                color:black ;
                font-size: 14px;
                transition:border 250ms cubic-bezier(0.4, 0, 0.2, 1);
            };
        }
        .textarea{
            margin-bottom: 20px;
            &:hover textarea,&:focus textarea{
                border:solid 1px getColor('blue-main');
            }
            textarea{
                outline: none;
                width: 100%;
                color: black;
                padding: 10px;
                padding: 12px 16px;
                border-radius: 4px;
                font-size: 14px;
                resize: none;
                border: 1px solid getColor('modal-textarea-font');
                transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        }
        .check-box-label{
            display: flex;
            align-items: baseline;
            cursor: pointer;
            margin-bottom: 10px;
            input{
                visibility: hidden;
                &:checked + .checkbox-button{
                    background-color: getColor('blue-main');
                    color: white;
                    border-color: getColor('blue-main');
                }

            }
            .checkbox-button{
                width: 16px;
                height: 15px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:white;
                border: 2px solid black;
                color: white;
                margin-right: 8px;
                transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                border-radius: 2px;
                &
                svg{
                    fill: currentColor;
                }
            }
            p{
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.03em;   
                color: #757575;
            }

        }
        .submit-button{
            background-color: getColor('blue-main');
            color: white;
            padding: 10px 80px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            line-height: 30px;
            font-family: "Roboto";
            font-weight: 700;
            border: none;
            cursor: pointer;
        }
    }
}