@import "../utils/vars.scss";
@import "./common.scss";


.filters{
    display: flex;
    justify-content: center;
    margin-bottom: 50px !important; 
    @extend .list;
    .filter{
        .active{
            background-color: getColor('blue-main');
            color: white;
        }
        &:not(:last-child){
            margin-right: 10px;
        }
        &__button{
            border: none;
            background-color: getColor('background-team');
            padding: 6px 25px;
            border-radius: 4px;
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 0.03em;
            color: #212121;
            cursor: pointer;
            font-family: 'Roboto';
            font-style: normal;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover{
                background-color: var(--main-blue-color);
                color: white;
            }
        }
    }
}
.projects{
    @extend .list;
    display:flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    .project{
        margin-top: 30px;
        margin-left: 30px;
        &__link{
            @extend .link;
            line-height: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,&:focus,&:hover .project__link__box__overlay,&:focus .project__link__box__overlay{
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
                outline: none;
                top: 0;
            }
            &__box{
                position: relative;
                overflow: hidden;
                img{
                    @extend img;
                }
                &__overlay{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(33, 150, 243, 0.9);
                    transition: top 250ms cubic-bezier(0.4, 0, 0.2, 0.1);
                    padding: 63px 24px;
                    text-align: start;
                    .type{font-weight: 400;font-size: 16px;line-height: 30px;letter-spacing: 0.03em;color: var(--category-title);}
                    .title{font-size: 18px;font-weight: 700;line-height: 36px;color: #212121;}
                }
            }
            
            &__wrapper{
                padding: 20px;
                display: block;
                border:1px solid #ECECEC;
                border-top: none;
                text-align: start;
                h3{
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 36px;
                    color: black;
                }
                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 30px;
                    letter-spacing: 0.03em;
                    color: getColor('links');
                }
            }
        }
    }

}