@import '../utils/_vars.scss';@import '../utils/_color.scss';
@import '../utils/_mixin';
.benefits{
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    .benefit-item{
        margin-right: 30px;
        margin-bottom: 30px;
        width: 270px;
        &__img{
            height: 120px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:$color-background-team;            
            margin-bottom: 30px;
            border-radius: 4px;
            padding: 27px 0;
        }
        &__title{
            margin-bottom: 10px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
        &__description{
            color:$color-links;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.03em;
        }

    }
}