@import '../utils/_vars.scss';@import '../utils/_color.scss';
@import '../utils/_mixin';

.filters{
    display: flex;
    justify-content: center;
    margin-bottom: 50px !important; 
    flex-wrap: wrap;
    margin-bottom: -15px;
    .filter{
        
        .active{
            background-color: $color-blue-main;
            color: white;
        }
        &:not(:last-child){
            margin-right: 8px;
        }
        &__button{
            margin-bottom: 15px;
            border: none;
            background-color: $color-background-team;
            padding: 6px 28px;
            border-radius: 4px;
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 0.03em;
            color: #212121;
            cursor: pointer;
            font-family: 'Roboto';
            font-style: normal;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover{
                background-color: $color-blue-main;
                color: white;
            }
        }
    }
}