@mixin buttonHoverfocus($color,$background,$colorhover,$backgroundhover) {
    transition: $color 250ms $transition, $background $transition;
    &:hover{
        color: $colorhover;
        background-color:$backgroundhove ;
    }
}

@mixin social-media($color ,$background){
    display: flex;
    justify-content: center;
    width: 100%;
    &__item{
        &:not(:last-child){
            margin-right: 10px;
        }
        a{
            display: flex;
            border-radius: 50px;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            padding: 12px;
            cursor: pointer;
            color: $color;
            background-color:$background;
            transition: background-color $transition;
            svg{
                width: 20px;
                height: 20px;
                fill: currentColor;
                transition: color $transition;
            }
            &:hover,&:focus{
                background-color:#2196F3;
                color:white;
            }
        }
    }
}
